body {
	background-color: black;
}

#roadeo {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
}

.modal {
	text-align: center;
	top: 20%;
}

@media screen and (min-width: 768px) {
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
}

.modal-content {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

#username {
	margin-bottom: 10px;
}
