body {
  background-color: black;
}

#roadeo {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
}

#nipple {
  position: absolute;
  bottom: 150px;
  width: 100%;
}

.modal {
  text-align: center;
  top: 20%;
}

@media only screen and (max-width: 768px) {
  #roadeo {
    transform: none;
    top: 0%;
    left: 0%;
    width: 100%;
  }
}

.modal-content {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

#username {
  margin-bottom: 10px;
}
